*{
    padding: 0;
    margin: 0;
    
    
    
    
}



@font-face{
    font-family:medium;
    src:url("../font/montserrat-medium.ttf");
    
    
}

@font-face{
    font-family:regular;
    src:url("../font/orbitron-regular.ttf");
    
    
}

@font-face{
    font-family:light;
    src:url("../font/montserrat-light.ttf");
    
    
}


    


html{
    background-color: white;
    color: black;
    font-family:monosterrat,orbitron;
  
   
    
}
    
header{
    background-image:url(background-car.jpg);
  
    background-size:cover;
    background-position:center;
    height: 100vh;
}
    
    
    

.nav-box{
    width:1000px;
    margin: 0 auto;
}

.logo{
    float: left;
    
    height: 100px;
    width:auto;    
}

nav{
    background-color: rgba(225,225,255,0.7);
    height: 70px;
 
    
    
    
}





nav li{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top:20px;
    margin-left: 50px;
    color: white;
       
     
}


nav li a{
   text-decoration: none;
    color:#292834;
    text-transform: capitalize;
    font-family: light ;
}

.hero-text-box{
    background-color:rgba(225,225,255,0.7);
    color: black; 
    border-radius: 20px;
    position: absolute;
    width: 500px;
    height:350px;
    left: 200px;
    top: 200px;
    
    

}
.btn{
   text-decoration: none;
    text-align:  center;
    display:inline-block;
    border: 1px solid #e82127;
    width: 170px;
    height:35px;
    border-bottom-right-radius: 20px;
    border-top-left-radius:20px;
    text-transform: capitalize;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 23px;
    font-family: light;
    
    
    
  
    
}
.btn-full{
    
    background: #e82127;
    color: white;
   
    
    
    
}
.btn-ghost{
    color: #292834;
    border-color: #292834;
   
    
    
    
}
h1{
    text-transform: uppercase;
    font-size: 60px;
    margin-top: 20px;
    font-family: regular;
    font-size: 50px;
   line-height: 50px;
 
    
   
}
.paragraph{
    color: #292834;
    margin-top:  600px;
    font-family: light ;
    font-size:  17px;
    
    
}
h1,.paragraph{
     margin-left: 50px;
    margin-top: 20px;
    
    
    
}



.btn-nav{
   text-decoration: none;
    text-align:center;
  
    width: 50px;
    height:20px;
    text-transform: capitalize;
    float: right;
    margin-top: -20px;
    font-family: light;
    font-size: 15px;
    display: inline;
    padding: 2px;
   
    
    
    
    
   
    
}
    
.short-ghost{
    border-top-left-radius: 20px;
    background-color: #e82127;
    color: white;
     border: 1px solid #e82127 ;
    
}   
.short-full{
    border-bottom-right-radius: 20px;
    color: #292834;
     border: 1px solid #292834;
    
}







    




    